
@font-face {
    body {
    font-family: 'TT Hoves Pro Trial', sans-serif;
}

    src: url('./TTHovesPro-BdOutline.woff2') format('woff2'),
        url('./TTHovesPro-BdOutline.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    body {
    font-family: 'TT Hoves Pro Trial', sans-serif;
}

    src: url('./TTHovesPro-BdOutlineIt.woff2') format('woff2'),
        url('./TTHovesPro-BdOutlineIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trial';
    src: url('./TTHovesProTrial-BlkIt.woff2') format('woff2'),
        url('./TTHovesProTrial-BlkIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trial';
    src: url('./TTHovesProTrial-Blk.woff2') format('woff2'),
        url('./TTHovesProTrial-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trial';
    src: url('./TTHovesProTrial-Bd.woff2') format('woff2'),
        url('./TTHovesProTrial-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trial';
    src: url('./TTHovesProTrial-BdIt.woff2') format('woff2'),
        url('./TTHovesProTrial-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-BlkIt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-BlkIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-Blk.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-BdIt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-Bd.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-DmBdIt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-DmBdIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-DmBd.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-DmBd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-XBdIt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-XBdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-XBd.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-XBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-XLtIt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-XLtIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-XLt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-XLt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd Hairline';
    src: url('./TTHovesProTrlCnd-HairlineIt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-HairlineIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd Hairline';
    src: url('./TTHovesProTrlCnd-Hairline.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-It.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-LtIt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-LtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-Lt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-MdIt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-MdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-Md.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-Rg.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-ThIt.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-ThIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Cnd';
    src: url('./TTHovesProTrlCnd-Th.woff2') format('woff2'),
        url('./TTHovesProTrlCnd-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trial';
    src: url('./TTHovesProTrial-DmBdIt.woff2') format('woff2'),
        url('./TTHovesProTrial-DmBdIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trial';
    src: url('./TTHovesProTrial-DmBd.woff2') format('woff2'),
        url('./TTHovesProTrial-DmBd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Exp';
    src: url('./TTHovesProTrlExp-BlkIt.woff2') format('woff2'),
        url('./TTHovesProTrlExp-BlkIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Pro Trl Exp';
    src: url('./TTHovesProTrlExp-Blk.woff2') format('woff2'),
        url('./TTHovesProTrlExp-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

